# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# notebooks
*.ipynb

#pdfs
*.pdf
*.png

# Training outputs
checkpoints/
logs/
outputs/
runs/
pose_visualisations

# Model files
*.pth
*.pt

# Temporary files
tmp/

# Environment variables / secrets
.env.local

script_running_command.txt

extract_dataset_frames.py
\extracted_frames
\frame_diff_figure
\figures
rise_evaluation_clips.json

!STGCN_final_model/best_model.pt
!CNN_LSTM_final_model/best_model.pt