# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# notebooks
*.ipynb

#pdfs
*.pdf
*.png

# Training outputs
checkpoints/
logs/
outputs/
runs/
pose_visualisations

# Data
data/
datasets/

# Model files
*.pth
*.pt
*.ckpt
*.onnx

# Experiment artifacts
wandb/
mlruns/

# Temporary files
tmp/
temp/

# Environment variables / secrets
.env.local

script_running_command.txt


generate_explanations_cnn_lstm.py
generate_explanations_stgcn.py
plotting_functions.py
extract_dataset_frames.py
\extracted_frames
\frame_diff_figure
\figures
rise_evaluation_clips.json
evaluate_cnn_lstm.py
evaluate_stgcn.py